.container {
    max-width: 800px;
    margin: 0 auto 100px 0;
    padding: 5%;
    display: flex;

  }

 
.left-column {
  width: 50%;
  position: relative;
}
 
.right-column {
  width: 50%;
 
  background-color: rgb(246, 246, 246);
  padding: 5%;
  border-radius: 20px;
  text-align: center;
}




.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.product-description h1 {
    margin: 10%;
}

.product-description p {
    margin: 10%;
}

.btnn {
   margin-top: 10%;
    width: 100%;
}

.product-description h3 {
    margin: 10%;
    text-align: center;
}